<div class="js-page__editPage">
    <script>
        window.__TEAM__ = {{{json team}}};
        window.__IMAGES__ = {{{json catalogs}}};
        window.__MASTHEAD__ = {{{json masthead}}};
        window.__PAGES__ = {{{json pages}}};
        window.__PRESTATE__ = {{{json page}}};
        console.log(window.__PRESTATE__);
    </script>
    <button type="button" class="page-settings__submit js__save-page adminMainSaveButton"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>Zapisz stronę</button>
    <div class="page-settings u-clearfix">
        <p class="page-settings__wrapper">
            <label class="page-settings__label">Adres strony</label>
            <input type="text" name="pageUrl" class="js__page-url page-settings__input" value="{{page.pageUrl}}">
        </p>
        <p class="page-settings__wrapper">
            <label class="page-settings__label">Tytuł strony</label>
            <input type="text" name="pageTitle" class="js__title page-settings__input" value="{{page.title}}">
        </p>
        <p class="page-settings__wrapper">
            <label class="page-settings__label">Język strony</label>
            <select name="pageLang" class="js__lang-select page-settings__select">
                <option value="en"
                {{#equals page.lang 'en'}}
                    selected
                {{/equals}}
                >Angielski</option>
                <option value="pl"
                {{#equals page.lang 'pl'}}
                    selected
                {{/equals}}
                >Polski</option>
            </select>
        </p>
        <p class="page-settings__wrapper"> 
            <label class="page-settings__label">Link do drugiej wersji językowej</label>
            <input type="text" value="{{page.secondurl}}" name="otherLanguageUrl" class="page-settings__input js__other-lang-url">
        </p>
    </div>
    <div class="content-editor">
        <div class="block-container">
            {{#each page.content}}
                <div class="block" data-block-id="{{this.blockId}}">
                <button class="block__up"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                <button class="block__down"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                <button class="block__delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <div class="block__content">
                    {{#equals this.sectionType 'masthead'}}
                        <div class="block-masthead">
                            <div class="block-masthead__wrapper">
                                <label class="block-masthead__label">Tytuł</label>
                                <input type="text" name="block-masthead__title" class="block-masthead__input block-masthead__title" placeholder="np. Projekty" value="{{this.content.title}}">
                            </div>
                            <div class="block-masthead__bg-wrapper u-clearfix">
                                <div>
                                <h2>Wybierz tło</h2>
                                {{#each ../masthead}}
                                    <label for="{{../this.blockId}}-{{this}}"><img style="width: 150px;height: 150px;object-fit:cover;float: left;" src="/static/uploads/masthead/{{this}}"></label><input type="radio" name="background{{../this.blockId}}" class="block-masthead__background" id="{{../this.blockId}}-{{this}}" value="{{this}}" {{#equals this ../this.content.background}}checked{{/equals}}>
                                {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/equals}}
                    {{#equals this.sectionType 'text'}}
                        <div class="block-text">
                            <div class="block-text__wrapper">
                                <label class="block-text__label">Tło</label>
                                <input type="text" name="block-text__background-{{this.blockId}}" class="block-text__input block-text__background" placeholder="np. white" value="{{this.content.background}}">
                            </div>
                            <div class="block-text__wrapper">
                                <label class="block-text__label">Treść</label>
                                <textarea name="block-text__text-{{this.blockId}}" class="block-text__text" placeholder="np. Informacje o ofercie">{{this.content.text}}</textarea>
                            </div>
                        </div>
                    {{/equals}}
                    {{#equals this.sectionType 'calc'}}
                        <h2>Kalkulator</h2>
                    {{/equals}}
                    {{#equals this.sectionType 'offices'}}
                        <div class="block-offices__wrapper">
                            <label>Tytuł sekcji</label>
                            <input value="{{this.title}}" type="text" placeholder=" np. Biura" class="block-offices__section-title" name="block-offices__section-title-{{this.blockId}}"></div>
                        <div class="officesBlock-container">
                            {{#each this.content}}
                            <div class="subblock" data-subblock-id="{{this.subBlockId}}">
                            <button class="officeBlock__up"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                            <button class="officeBlock__down"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                            <button class="officeBlock__delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <div class="office">
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Tytuł biura</label>
                                    <input type="text" name="block-office__title-{{../this.blockId}}" class="block-office__text block-office__title" placeholder="np. Siedziba" value="{{this.content.title}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Adres</label>
                                    <input type="text" name="block-office__address-{{../this.blockId}}" class="block-office__text block-office__address" placeholder="np. ul. 3 Maja 60" value="{{this.content.address}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Miejscowość</label>
                                    <input type="text" name="block-office__city-{{../this.blockId}}" class="block-office__city block-office__text" placeholder="np. Wrocław" value="{{this.content.city}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Kod pocztowy</label>
                                    <input type="text" name="block-office__postal-{{../this.blockId}}" class="block-office__text block-office__postal" placeholder=" np. 50-000" value="{{this.content.postal}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Telefon</label>
                                    <input type="text" name="block-office__phone-{{../this.blockId}}" class="block-office__text block-office__phone" placeholder="np. 123 456 789" value="{{this.content.phone}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Email</label>
                                    <input type="text" name="block-office__email-{{../this.blockId}}" class="block-office__text block-office__email" placeholder="np. kontakt@architekt.com" value="{{this.content.email}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Link do mapy</label>
                                    <input type="text" name="block-office__map-{{../this.blockId}}" class="block-office__text block-office__map" placeholder="" value="{{this.content.map}}">
                                </div>
                            </div></div>
                            {{/each}}
                            </div><button class="addOfficeButton">Dodaj biuro</button>
                    {{/equals}}
                    {{#equals this.sectionType 'team'}}
                        <div class="block-gallery__wrapper"><label>Tytuł sekcji</label>
                            <input type="text" placeholder=" np. Zespół" class="block-gallery__section-title" name="block-gallery__section-title-{{this.blockId}}" value="{{this.title}}">
                        </div><div class="galleryBlock-container">
                        {{#each this.content}}
                        <div class="subblock" data-subblock-id="{{this.subBlockId}}">
                        <button class="galleryBlock__up"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                        <button class="galleryBlock__down"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                        <button class="galleryBlock__delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <div class="image">
                            <div class="block-gallery__wrapper">
                                <label class="block-gallery__label">Podpis</label>
                                <input type="text" name="block-gallery__title-{{../this.blockId}}-{{this.subBlockId}}" class="block-gallery__text block-gallery__title" value="{{this.content.title}}" placeholder="np. Specjalista od ogrodów">
                            </div>
                            <div class="block-gallery__preview">
                                <img src="/static/img/placeholder.png">
                            </div>
                            <div class="block-gallery__wrapper block-gallery__wrapper-image">
                                {{#each ../../team}}
                                    <label for="{{../../this.blockId}}-{{../this.subBlockId}}-{{@index}}-{{this}}"><img style="width: 150px;height: 150px;object-fit:cover;float: left;" src="/static/uploads/team/{{this}}"></label><input type="radio" name="img-'{{../../this.blockId}}-{{../this.subBlockId}}" class="block-gallery__image" id="{{../../this.blockId}}-{{../this.subBlockId}}-{{@index}}-{{this}}" value="{{this}}" {{#equals this ../this.content.img}}checked{{/equals}}>
                                {{/each}}
                            </div>
                        </div>
                        </div>
                        {{/each}}
                        </div><button class="addImageButton addImageButtonTeam">Dodaj zdjęcie</button>
                    {{/equals}}
                    {{#equals this.sectionType 'projectsBlock'}}
                        <div class="block-project__wrapper">
                            <label>Nazwa linku do strony projektów</label>
                            <input type="text" placeholder=" np. Zobacz więcej projektów" class="block-project__more-project-title" name="block-project__more-project-title-{{this.blockId}}" value="{{this.linkTitle}}">
                        </div>
                        <div class="block-project__wrapper block-project__wrapper-more-link">
                            <div>
                                <label>Wybierz link do strony z projektami</label>
                                <select name="block-project__more-link-{{this.blockId}}" class="block-project__more-link">
                                    <option value="" disabled  {{#equals this.linkUrl ''}}selected{{/equals}}>Wybierz stronę z projektami</option>
                                    {{#each ../pages}}
                                        <option value="{{this}}" {{#equals ../this.linkUrl this}}selected{{/equals}}>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="projectsBlock-container">
                        {{#each this.content}}
                        <div class="subblock" data-subblock-id="{{this.subBlockId}}">
                        <button class="projectBlock__up"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                        <button class="projectBlock__down"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                        <button class="projectBlock__delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <div class="project">
                            <div class="block-project__wrapper">
                                <label class="block-project__label">Tytuł projektu</label>
                                <input type="text" name="block-project__title-{{../this.blockId}}-{{this.subBlockId}}" class="block-project__text block-project__title" placeholder="np. willa na wzgórzu" value="{{this.content.title}}">
                            </div>
                            <div class="block-project__wrapper block-project__wrapper-select">
                                <div>
                                    <label for="block-project__page-{{../../blockId}}-{{../subBlockId}}">Wybierz stronę projektu</label>
                                    <select name="block-project__page-{{../../blockId}}-{{../subBlockId}}" class="block-project__page" id="block-project__page-{{../../blockId}}-{{../subBlockId}}">
                                        <option value="" disabled {{#equals this.content.page ''}}selected{{/equals}}>Wybierz stronę projektu</option>
                                        {{#each ../../pages}}
                                        <option value="{{this}}" {{#equals ../this.content.page this}}selected{{/equals}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="block-project__wrapper">
                                <input type="checkbox" name="block-project__big" class="block-project__checkbox block-project__big" id="block-project__big-{{this.blockId}}-{{this.subBlockId}}" value="1" {{#equals this.content.big 1}}checked{{/equals}}>
                                <label for="block-project__big-{{this.blockId}}-{{this.subBlockId}}">Duża sekcja</label>
                            </div>
                            <div class="block-project__preview">
                                <img src="/static/img/placeholder.png">
                            </div>
                            <div class="block-project__wrapper block-project__wrapper-image">
                                <div>
                                    {{#each ../../catalogs}}
                                        <div class="dir">
                                            {{#each this.photos}}
                                                <label for="{{../../../this.blockId}}-{{../../this.subBlockId}}-{{../this.path}}/{{this.path}}">
                                                <img style="width: 150px; height: 150px; object-fit: cover;float: left;" src="/static/uploads/{{../this.path}}/{{this.path}}"></label>
                                                <input type="radio" name="img-{{../../../this.blockId}}-{{../../this.subBlockId}}" class="block-project__image" id="{{../../../this.blockId}}-{{../../this.subBlockId}}-{{../this.path}}/{{this.path}}" 
                                                {{#equalsImg ../this.path this.path ../../this.content.img}}
                                                    checked
                                                {{/equalsImg}}>
                                            {{/each}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        </div>
                        {{/each}}
                        </div><button class="addProjectButton">Dodaj projekt</button>                
                    {{/equals}}
                    {{#equals this.sectionType 'smallOffices'}}
                        <div class="block-office__wrapper"><label>Nazwa linku do strony kontaktowej</label>
                            <input type="text" placeholder=" np. Więcej informacji" class="block-office__more-offices-title" name="block-office__more-offices-title-{{this.blockId}}" value="{{this.linkTitle}}">
                        </div>
                        <div class="block-office__wrapper block-office__wrapper-more-link">
                            <div>
                                <label>Wybierz link do strony kontaktu</label>
                                <select name="block-office__more-link-{{this.blockId}}" class="block-office__more-link">
                                    <option value="" disabled {{#equals this.linkUrl ''}}selected{{/equals}}>Wybierz stronę kontaktową</option>
                                    {{#each ../pages}}
                                        <option value="{{this}}" {{#equals ../this.linkUrl this}}selected{{/equals}}>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="officesBlock-container">
                            {{#each this.content}}
                            <div class="subblock" data-subblock-id="{{this.subBlockId}}">
                            <button class="officeBlock__up"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                            <button class="officeBlock__down"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                            <button class="officeBlock__delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <div class="office">
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Tytuł biura</label>
                                    <input type="text" name="block-office__title-{{../this.blockId}}-{{this.subBlockId}}" class="block-office__text block-office__title" placeholder="np. Siedziba" value="{{this.content.title}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Adres</label>
                                    <input type="text" name="blokc-office__address-{{../this.blockId}}-{{this.subBlockId}}" class="block-office__text block-office__address" placeholder="np. ul. 3 Maja 60" value="{{this.content.address}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Miejscowość</label>
                                    <input type="text" name="block-office__city-{{../this.blockId}}-{{this.subBlockId}}" class="block-office__city block-office__text" placeholder="np. Wrocław" value="{{this.content.city}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Kod pocztowy</label>
                                    <input type="text" name="block-office__postal-{{../this.blockId}}-{{this.subBlockId}}" class="block-office__text block-office__postal" placeholder=" np. 50-000" value="{{this.content.postal}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Telefon</label>
                                    <input type="text" name="block-office__phone-{{../this.blockId}}-{{this.subBlockId}}" class="block-office__text block-office__phone" placeholder="np. 123 456 789" value="{{this.content.phone}}">
                                </div>
                                <div class="block-office__wrapper">
                                    <label class="block-office__label">Email</label>
                                    <input type="text" name="block-office__email-{{../this.blockId}}-{{this.subBlockId}}" class="block-office__text block-office__email" placeholder="np. kontakt@architekt.com" value="{{this.content.email}}">
                                </div>
                            </div></div>
                            {{/each}}
                            </div><button class="addSmallOfficeButton">Dodaj biuro</button>                    
                    {{/equals}}
                    {{#equals this.sectionType 'gallery'}}
                        <div class="block-gallery__wrapper">
                            <label>Tytuł sekcji</label>
                            <input type="text" placeholder=" np. Galeria" class="block-gallery__section-title" name="block-gallery__section-title-{{this.blockId}}" value="{{this.title}}"></div>
                        <div class="galleryBlock-container">
                        {{#each this.content}}
                        <div class="subblock" data-subblock-id="{{this.subBlockId}}">
                        <button class="galleryBlock__up"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                        <button class="galleryBlock__down"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                        <button class="galleryBlock__delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <div class="image">
                            <div class="block-gallery__wrapper">
                                <label class="block-gallery__wrapper">Podpis</label>
                                <input type="text" name="block-gallery__title-{{../this.blockId}}-{{this.subBlockId}}" class="block-gallery__text block-gallery__title" placeholder="np. Projekt budynku" value="{{this.content.title}}">
                            </div>
                            <div class="block-gallery__preview">
                                <img src="/static/img/placeholder.png">
                            </div>
                            <div class="block-gallery__wrapper block-gallery__wrapper-image">
                                <div>
                                    {{#each ../../catalogs}}
                                        <div class="dir">
                                            {{#each this.photos}}
                                                <label for="{{../../../this.blockId}}-{{../../this.subBlockId}}-{{../this.path}}/{{this.path}}">
                                                <img style="width: 150px; height: 150px; object-fit: cover;float: left;" src="/static/uploads/{{../this.path}}/{{this.path}}"></label>
                                                <input type="radio" name="img-{{../../../this.blockId}}-{{../../this.subBlockId}}" class="block-gallery__image" id="{{../../../this.blockId}}-{{../../this.subBlockId}}-{{../this.path}}/{{this.path}}" 
                                                {{#equalsImg ../this.path this.path ../../this.content.img}}
                                                    checked
                                                {{/equalsImg}}>
                                            {{/each}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        </div>
                        {{/each}}
                        </div><button class="addImageButton">Dodaj zdjęcie</button>                
                    {{/equals}}
                </div>
                </div>
            {{/each}}
        </div>
        <div class="new-block">
            <label class="new-block__label">Wybierz blok</label>
            <select name="new-block__select" class="new-block__select">
                <option value="masthead">Zdjęcie główne</option>
                <option value="text">Pole tesktowe</option>
                <option value="calc">Kalkulator projektu</option>
                <option value="offices">Informacje o biurach</option>
                <option value="team">Członkowie zespołu</option>
                <option value="projectsBlock">Blok z projektami</option>
                <option value="smallOffices">Mały blok z biurami</option>
                <option value="gallery">Galeria</option>
            </select>
            <button class="new-block__submit">Dodaj blok</button>
        </div>
    </div>
</div>
