<!DOCTYPE html>
<html lang="{{page.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="/static/img/architect.jpg">
    <meta property="og:url" content="{{page.pageUrl}}">

    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="/static/img/architect.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <script src="/static/js/front.js" defer></script>

    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"
></script>
</head>
<body>
    <header>
        <div class="header">
            <nav>
                <div class="nav">
                    <div class="nav__inner">
                        <a href="/" class="nav__homepage">
                            <img src="/static/assets/logo-cropped.png" class="nav__icon">
                            <span class="nav__title">
                                {{#equals page.lang 'pl'}}
                                    {{header.title.pl}}
                                {{/equals}}
                                {{#equals page.lang 'en'}}
                                    {{header.title.en}}
                                {{/equals}}
                            </span>
                        </a>
                        <label for="menu-toggle" class="nav__menu-toggle" onclick="">Menu</label>  
                        <input type="checkbox" id="menu-toggle" name="menu" class="nav__menu-checkbox"/>
                        <ul class="nav__menu">
                        {{#equals page.lang 'pl'}}
                            {{#each header.links.pl}}
                                <li class="nav__item"><a href="{{this.url}}" class="nav__link">{{this.title}}</a></li>
                            {{/each}}
                        {{/equals}}
                        {{#equals page.lang 'en'}}
                            {{#each header.links.en}}
                                <li class="nav__item"><a href="{{this.url}}" class="nav__link">{{this.title}}</a></li>
                            {{/each}}
                        {{/equals}}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    
    <main>
        <div class="main">
            {{#each page.content}}
                {{#equals this.sectionType 'masthead'}}
                    <div class="masthead" style="background-image: url('/static/uploads/masthead/{{this.content.background}}')">
                        <div class="masthead__inner">
                            <h1 class="masthead__title">{{this.content.title}}</h1>
                        </div>
                    </div>
                {{/equals}}
                {{#equals this.sectionType 'text'}}
                    <div class="content" style="background-color: {{this.content.background}}">
                        <div class="content__inner u-clearfix">
                            {{{this.content.text}}}
                        </div>
                    </div>
                {{/equals}}
                {{#equals this.sectionType 'calc'}}
                    <div class="content">
                        <div class="content__inner u-clearfix">                            
                            <div class="calc">
                                <h2 class="calc__header">Oblicz przykładowy koszt projektu domu wolnostojącego</h2>
                                <div class="calc__left">
                                <p class="calc__wrapper">
                                    <label for="size" class="calc__label">Wielkość domu w m<sup>2</sup></label>
                                    <input type="number" name="size" id="size" class="calc__input" placeholder="np. 200">
                                </p>
                                <p class="calc__wrapper">
                                    <h3 class="calc__radio-header">Dodatki</h3>
                                    <div class="calc__checkbox-wrapper">
                                        <input type="checkbox" name="garden" id="garden" class="calc__checkbox">
                                        <label for="garden" class="calc__checkbox-label">Projekt ogrodu</label>
                                    </div>
                                    <div class="calc__checkbox-wrapper">
                                        <input type="checkbox" name="build" id="build" class="calc__checkbox">
                                        <label for="build" class="calc__checkbox-label">Wycena realizacji</label>
                                    </div>
                                    <div class="calc__checkbox-wrapper">
                                        <input type="checkbox" name="terrace" id="terrace" class="calc__checkbox">
                                        <label for="terrace" class="calc__checkbox-label">Projekt tarasu</label>
                                    </div>
                                </p>
                                </div>
                                <div class="calc__right">
                                <p class="calc__wrapper">
                                    <h3 class="calc__radio-header">Garaż</h3>
                                    <div class="calc__radio-option">
                                        <input type="radio" name="garage" id="garage1" value="0" class="calc__radio" checked>
                                        <label for="garage1" class="calc__radio-label">Bez garażu</label>
                                    </div>
                                    <div class="calc__radio-option">
                                        <input type="radio" name="garage" id="garage2" value="1" class="calc__radio">
                                        <label for="garage2" class="calc__radio-label">1 garaż</label>
                                    </div>
                                    <div class="calc__radio-option">
                                        <input type="radio" name="garage" id="garage3" value="2" class="calc__radio">
                                        <label for="garage3" class="calc__radio-label">2 garaże</label>
                                    </div>
                                </p>
                                <p class="calc__wrapper">
                                    <h3 class="calc__radio-header">Rodzaj projektu</h3>
                                    <div class="calc__radio-option">
                                        <input type="radio" name="projekt" id="project1" value="project1" class="calc__radio" checked>
                                        <label for="project1" class="calc__radio-label">Projekt</label>
                                    </div>
                                    <div class="calc__radio-option">
                                        <input type="radio" name="projekt" id="project2" value="project2" class="calc__radio">
                                        <label for="project2" class="calc__radio-label">Projekt + instalacje</label>
                                    </div>
                                    <div class="calc__radio-option">
                                        <input type="radio" name="projekt" id="project3" value="project3" class="calc__radio">
                                        <label for="project3" class="calc__radio-label">Projekt + instalacje + aranżacje</label>
                                    </div>
                                </p>
                                </div>
                                <p class="calc__result">Oferujemy projekt domu jednorodzinnego o metrażu 45m<sup>2</sup> z garażem i projektem instalacji, wnętrz i ogrodu od 4000 zł</p>
                            </div>
                        </div>
                    </div>
                {{/equals}}
                {{#equals this.sectionType 'offices'}}
                    <div class="content">
                        <div class="content__inner u-clearfix">
                            {{#if this.title}}
                                <h2>{{this.title}}</h2>
                            {{/if}}
                            {{#each this.content}}
                            <div class="office u-clearfix">
                                <p class="office__info">
                                    {{this.content.title}}<br>
                                    {{this.content.address}},<br>
                                    {{this.content.city}}, {{this.content.postal}}<br>
                                    tel: <a href="tel: {{this.content.phone}}">{{this.content.phone}}</a><br>
                                    email: <a href="mailto: {{this.content.email}}">{{this.content.email}}</a>
                                </p>
                                <div class="office__map">
                                    <div class="embed-container">
                                        <iframe src="{{this.content.map}}" width="600" height="450" frameborder="0" style="border:0"></iframe>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                {{/equals}}
                {{#equals this.sectionType 'team'}}
                    <div class="content">
                        <div class="content__inner u-clearfix">
                            {{#if this.title}}
                                <h2>{{this.title}}</h2>
                            {{/if}}
                            <div class="team u-clearfix">
                                {{#each this.content}}
                                <figure class="team__member member">
                                    <img class="member__img" src="/static/uploads/team/{{this.content.img}}">
                                    <figcaption class="memeber__info">
                                        {{this.content.title}}
                                    </figcaption>
                                </figure>
                                {{/each}}
                            </div>        
                        </div>
                    </div>
                {{/equals}}
                {{#equals this.sectionType 'projectsBlock'}}
                    <div class="content">
                        <div class="content__inner u-clearfix">
                            {{#each this.content}}
                            <div class="project {{#if this.content.big }}project--big{{/if}}">
                                <a href="{{this.content.page}}" class="project__link"  style="background-image: url('/static/uploads/{{this.content.img}}');">
                                    <h2 class="project__title">{{this.content.title}}</h2>
                                </a>
                            </div>
                            {{/each}}
                            {{#if this.linkTitle }}
                                <a href="{{this.linkUrl}}">{{this.linkTitle}}</a>
                            {{/if}}
                        </div>
                    </div>
                {{/equals}}
                {{#equals this.sectionType 'smallOffices'}}
                    <div class="content">
                        <div class="content__inner u-clearfix">
                            {{#each this.content}}
                            <p>
                                {{this.content.title}}<br>
                                {{this.content.address}},<br>
                                {{this.content.city}}, {{this.content.postal}}<br>
                                tel: <a href="tel: {{this.content.phone}}">{{this.content.phone}}</a><br>
                                email: <a href="mailto: {{this.content.email}}">{{this.content.email}}</a>
                            </p>
                            {{/each}}
                            {{#if this.linkTitle}}
                            <a href="{{this.linkUrl}}">{{this.linkTitle}}</a>
                            {{/if}}
                        </div>
                    </div>
                {{/equals}}
                {{#equals this.sectionType 'gallery'}}
                    <div class="content">
                        <div class="content__inner u-clearfix">
                            {{#if this.title}}
                                <h2>{{this.title}}</h2>
                            {{/if}}
                            <div class="gallery u-clearfix">
                                {{#each this.content}}
                                <figure class="gallery__item">
                                    <img class="gallery__img" src="/static/uploads/{{this.content.img}}" alt="{{this.content.title}}">
                                    <figcaption class="gallery__caption">
                                        {{this.content.title}}
                                    </figcaption>
                                </figure>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/equals}}
            {{/each}}
        </div>
    </main>
    
    <footer>
        <div class="footer">
            <div class="footer__inner u-clearfix">
                <nav>
                    <div class="footer-nav">
                        <ul class="footer-nav__list">
                            {{#equals page.lang 'pl'}}
                                {{#each footer.links.pl}}
                                    <li class="footer-nav__item"><a class="footer-nav__link" href="{{this.url}}">{{this.title}}</a></li>
                                {{/each}}
                                <li class="footer-nav__item"><a class="footer-nav__link" href="{{page.secondurl}}">Wersja angielska strony</a></li>
                            {{/equals}}
                            {{#equals page.lang 'en'}}
                                {{#each footer.links.en}}
                                    <li class="footer-nav__item"><a class="footer-nav__link" href="{{this.url}}">{{this.title}}</a></li>
                                {{/each}}
                                <li class="footer-nav__item"><a class="footer-nav__link" href="{{page.secondurl}}">Wersja polska strony</a></li>
                            {{/equals}}
                        </ul>
                    </div>
                </nav>
                <div class="footer-contact">
                    {{#equals page.lang 'pl'}}
                        {{#each footer.offices.pl}}
                        <p class="footer-contact__item">
                            {{this.title}}<br>
                            {{this.address}},<br>
                            {{this.city}}, {{this.postal}}<br>
                            tel: <a href="tel: {{this.phone}}" class="footer-contact__link">{{this.phone}}</a><br>
                            email: <a href="mailto: {{this.email}}" class="footer-contact__link">{{this.email}}</a>
                        </p>
                        {{/each}}
                    {{/equals}}
                    {{#equals page.lang 'en'}}
                        {{#each footer.offices.en}}
                        <p class="footer-contact__item">
                            {{this.title}}<br>
                            {{this.address}},<br>
                            {{this.city}}, {{this.postal}}<br>
                            tel: <a href="tel: {{this.phone}}" class="footer-contact__link">{{this.phone}}</a><br>
                            email: <a href="mailto: {{this.email}}" class="footer-contact__link">{{this.email}}</a>
                        </p>
                        {{/each}}
                    {{/equals}}
                </div>
                <p class="copyright">
                    © Copyright 
                    {{#equals page.lang 'pl'}}
                        {{footer.title.pl}}
                    {{/equals}}
                    {{#equals page.lang 'en'}}
                        {{footer.title.en}}
                    {{/equals}}                     
                     {{footer.year}}
                </p>
                <div class="footer-share">
                    <ul class="footer-share__links">
                        <li class="footer-share__item"><a class="footer-share__fb" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//localhost%3A3003/{{page.pageUrl}}"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                        <li class="footer-share__item"><a class="footer-share__twitter" href="https://twitter.com/home?status=http%3A//localhost%3A3003/{{page.pageUrl}}"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                        <li class="footer-share__item"><a class="footer-share__google" href="https://plus.google.com/share?url=http%3A//localhost%3A3003/{{page.pageUrl}}"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                        <li class="footer-share__item"><a class="footer-share__pin" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"   data-pin-custom="true"><i class="fa fa-pinterest-p fa-lg" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
